/*-------------------------
   Timeline
-------------------------*/
.doctors-timetable {
    th {
        font-weight: 700;
        color: #848e9f;
        padding: 17px 15px;
    }

    th,
    td {
        text-align: center;
        vertical-align: middle;
        border-radius: 14px;
        border: 3px solid $color-white;
    }

    thead {
        background-color: #def8f6 !important;
    }

    tbody tr:nth-of-type(even) td:first-of-type {
        min-width: 80px;
        background-color: #def8f6 !important;
    }

    tbody tr td:first-of-type {
        font-weight: 700;
    }

    .event {
        padding: 27px 10px;
        vertical-align: top;
        color: $color-white;
        background-color: #435ba1;

        .event__header {
            font-family: $font-heading;
            display: block;
            color: $color-white !important;
            font-size: 15px;
            font-weight: bold;
            margin-bottom: 2px;
        }

        .event__type {
            font-size: 13px;
        }

        .doctor__name {
            font-family: $font-heading;
            font-size: 14px;
            font-weight: 700;
        }

        .event__time {
            margin: 15px 0;

            span {
                display: block;
            }
        }
    }
}

.timeline-item {
    position: relative;

    &:before {
        content: '';
        position: absolute;
        top: 8px;
        left: 116px;
        width: 8px;
        height: 8px;
        border-radius: 50%;
        background-color: $color-primary;
        @include prefix(transition, 0.3s linear, webkit moz ms o);
    }

    .timeline__year {
        display: block;
        position: relative;
        color: $color-white;
        font-size: 14px;
        font-weight: 600;
        flex: 0 0 80px;
        max-width: 80px;
        margin-right: 40px;
        border-radius: 5px;
        height: 30px;
        margin-bottom: 0;
        align-self: baseline;
        padding: 5px 20px 5px 25px;
        background-color: $color-secondary;

        &:before {
            position: absolute;
            content: '';
            height: 8px;
            width: 8px;
            left: 10px;
            top: 50%;
            border-radius: 50%;
            transform: translateY(-50%);
            background-color: $color-white;
        }

        &:after {
            position: absolute;
            content: '';
            height: 20px;
            width: 20px;
            right: -8px;
            top: 5px;
            z-index: -1;
            transform: rotate(45deg);
            background-color: $color-secondary;
        }
    }

    .timeline__body {
        position: relative;
        font-size: 15px;
        padding-left: 40px;
        margin-bottom: 0;
        padding-bottom: 48px;

        &:before {
            content: '';
            position: absolute;
            top: 0;
            left: -12px;
            width: 24px;
            height: 24px;
            border-radius: 50%;
            padding: 3px;
            border: 2px solid #dcdee2;
        }

        &:after {
            content: '';
            position: absolute;
            top: 22px;
            bottom: 0;
            left: -1px;
            width: 2px;
            background-color: #dcdee2;
        }
    }

    .timeline__title {
        font-size: 19px;
        font-weight: 600;
        margin-bottom: 18px;
    }

    &:hover {
        &:before {
            @include prefix(transform, scale(1.3), webkit moz ms o);
        }
    }

    &:last-of-type {
        .timeline__body {
            padding-bottom: 0;
        }
    }
}