/*----------------------
    Carousel
-----------------------*/
.slick-list {
    margin: 0 -10px;
}

.slick-slide {
    margin: 0 10px;
}

.m-slides-0 {
    .slick-list {
        margin: 0;
    }

    .slick-slide {
        margin: 0;
    }
}

.slick-arrow {
    position: absolute;
    top: 50%;
    color: $color-secondary;
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50%;
    font-size: 0;
    z-index: 3;
    @include prefix(transition, all 0.3s linear, webkit moz ms o);
    @include prefix(transform, translateY(-50%), webkit moz ms o);

    &:hover {
        color: $color-primary
    }

    &.slick-next,
    &.slick-prev {
        &:before {
            font-family: 'icomoon';
            font-size: 40px;
        }
    }

    &.slick-next {
        right: 0;

        &:before {
            content: "\e906";
        }
    }

    &.slick-prev {
        left: 0;

        &:before {
            content: "\e904";
        }
    }
}

.carousel-arrows-light .slick-arrow {
    color: rgba($color-white, 0.8);
    border-color: rgba($color-white, 0.2);

    &:hover {
        color: $color-white
    }
}

.slick-dots {
    list-style: none;
    position: relative;
    z-index: 2;
    padding: 0;
    text-align: center;
    margin-bottom: 0;

    li {
        display: inline-flex;
        position: relative;
        width: 10px;
        height: 10px;
        margin: 0 7px;
        @include prefix(transition, all 0.3s linear, webkit moz ms o);

        button {
            display: block;
            font-size: 0;
            width: 10px;
            height: 10px;
            padding: 0;
            border-radius: 50%;
            background-color: $color-secondary;
            @include prefix(transition, all 0.2s linear, webkit moz ms o);
        }

        &.slick-active {
            button {
                background-color: $color-primary;
                box-shadow: 0 0 0 5px rgba($color-primary, .15);
            }
        }
    }
}

.carousel-dots-light .slick-dots li {

    button {
        background-color: $color-white;
    }

    &.slick-active {
        button {
            box-shadow: 0 0 0 5px rgba($color-white, .2);
        }
    }
}